<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhanshawn.latalk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeCapsuleCreateActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.CREATEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageBrowserActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.MESSAGEBROWSERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/title_activity_options"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.OPTIONSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserMessagesActivity"
            android:label="@string/title_activity_user_messages"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.USERMESSAGESACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GridTabActivity"
            android:label="@string/title_activity_grid_tab" >
        </activity>
        <activity
            android:name=".PuzzleTabActivity"
            android:label="@string/title_activity_list_tab" >
        </activity>
        <activity
            android:name=".UserLatalkMapActivity"
            android:label="@string/title_activity_puzzle_tab" >
        </activity>
        <activity
            android:name=".TimeCapsuleTabActivity"
            android:label="@string/title_activity_time_capsule_tab" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.CAMERAACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoConfirmActivity"
            android:label="@string/title_activity_photo_comfirm" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.PHOTOCONFIRMACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeCapsuleActivity"
            android:label="@string/title_activity_time_capsule" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.TIMECAPSULEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuzzleMapActivity"
            android:label="@string/title_activity_puzzle_map"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.PUZZLEMAPACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControlPanelActivity"
            android:label="@string/title_activity_control_panel" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.CONTROLPANELACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuzzleRaceCreateActivity"
            android:label="@string/title_activity_puzzle_race_create"
			android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="com.xhanshawn.latalk.PUZZLERACECREATEACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
